<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="Core">
            <directory>packages/logtide/tests</directory>
        </testsuite>
        <testsuite name="Laravel">
            <directory>packages/logtide-laravel/tests</directory>
        </testsuite>
        <testsuite name="Symfony">
            <directory>packages/logtide-symfony/tests</directory>
        </testsuite>
        <testsuite name="Slim">
            <directory>packages/logtide-slim/tests</directory>
        </testsuite>
        <testsuite name="WordPress">
            <directory>packages/logtide-wordpress/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/logtide/src</directory>
            <directory>packages/logtide-laravel/src</directory>
            <directory>packages/logtide-symfony/src</directory>
            <directory>packages/logtide-slim/src</directory>
            <directory>packages/logtide-wordpress/src</directory>
        </include>
    </source>
</phpunit>
